/* header */
.header {
  padding: 92px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
}

.header__address {
  font-style: normal;
}

/* cover */

.cover {
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  display: flex;
  flex-direction: column;
  gap: 135px;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  color: #ffffff;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* lots */

.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lots__card-list-item {
  max-width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.card__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* about */

/* footer */

.footer {
  padding: 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
